:root {
    --prm-drkcolor : rgb(19, 16, 16);
    --text-col :  rgb(218, 165, 32)
}

html,body {
    width:100%;
    height:100%;
   background-color: var(--prm-drkcolor);
   color: var(--text-col);
   font-size:1.1rem;
   font-family:monospace;
   font-weight: 500;
   min-width:20em;
   min-height: 40em;

}

.homelink a {
    margin-left:0.77rem;
    text-decoration: none;
}

.homelink a:hover {
    transition:1.1s;
    filter:brightness(2);
    color:goldenrod;
}

.navlist{
    padding-top:0.74rem;
    font-size:1.8rem;
    color:var(--text-col);
    top:0;
    width:100%;
    position: fixed;
    z-index: 10;
    background-color: var(--prm-drkcolor);
    border-bottom: 0.1px solid var(--text-col);

}

.navlist > * {
    display:inline-block;
    text-transform: capitalize;
}


.navlist ul {
    float: right;
    list-style-type:none;
}

.navlist li {
    display:inline-block;
    margin-left:2rem;
    margin-right:1rem;
}

.navlist li:last-child {
    margin-right: 3rem;
}

.links {
    margin-left:0.77rem;
    text-decoration: none;
    color: goldenrod;
    transition: 0.2s ease;
}


.navlist a:hover {
    transition:1.1s;
    filter:brightness(2);
    color:goldenrod !important;

    text-decoration: none;
}

#welcome-section {
    display:flex;
    position:relative;
    z-index: 1;
    flex-direction: column;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    animation: appear 3s ease-in;
    text-align: center;
}
#welcome-section h1 {
    margin-bottom: 1.27rem;
}



#projects-section {
    background-color:var(--prm-drkcolor);
    color: darkgoldenrod;
    display:block;
    width:100%;
    height:100vh;

}

#projects-section h2{
    text-align: center;
    margin-bottom: 2.4rem;
}

.project-tile {
    display:grid;
    grid-template-columns: 2fr 2fr;
    row-gap:2rem;
    
}
.images{
    width:25rem;
    height:17rem;
    border: 4px solid darkgoldenrod;
    border-radius: 2rem;

}
.project {
    text-align: center;
}



#projects-section button {
    width:10rem;
    height:4rem;
    border-radius: 2rem;
    border: 1px solid darkgoldenrod;
    font-size:1.3rem;
    font-weight: 600;
    background-color:transparent;
    color: darkgoldenrod;
   
}

.center {
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

#projects-section button:hover {
    background-color: darkgoldenrod;
    color: var(--prm-drkcolor);
    transition: 1s ease-out;
}

#profile-section {
    background-color:var(--prm-drkcolor);
    color: red;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:100%;
    height:100vh;
}

#profile-section a {
    border: 1px solid darkgoldenrod;
    cursor: pointer;
    margin-top:2rem;
    margin-bottom: 1.2em;
    font-size:1.7rem;
    padding:0.5rem;
    color:darkgoldenrod;
    text-decoration: none;
    border-radius: 2rem;
    transition: 0.9s ease;
}

.skill-set-div h5 {
    color: darkgoldenrod;
    display: inline-block;
}

.skill-set-div > .skill {
    width:10%;
    border: 1px solid darkgoldenrod;
    padding: 0.5rem;
    border-radius: 0.63em;
}
.skill-set-div{
    width:60%;
    margin-top:2em;
    display:flex;
    justify-content: space-evenly
}

.hover-text {
    position: relative;
    border-bottom: 1px dotted black;
    visibility: visible;
    cursor: pointer;
}
  
.hover-text:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 10em;
    background-color: goldenrod;
    font-weight: 600;
    color: var(--prm-drkcolor);
    text-align: center;
    border-radius: 0.66em;
    padding: 0.2em 0.4em;
    transition: opacity 1.2s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 100%;
  }
  
  .hover-text:hover:before {
    opacity: 1;
    visibility: visible;
  }



#profile-section a:hover {
    background-color:goldenrod;
    color:var(--prm-drkcolor);
    

}

@keyframes appear {
    from {
        opacity: 0;
        filter:brightness(0);}
    to {opacity:1;
        filter:brightness(1);}
}

@media only screen and  (max-width:55em) {
    body {
        width:100%;
        font-size: 0.1rem;
    }
    
    .navlist {
        font-size:0.6rem;
    }


    .project-tile {
        
        display:grid;
        grid-template-columns: 1fr 1fr;
        row-gap:1rem;
    }

    .images{
        width:10rem;
        height:8rem;
        border: 4px solid darkgoldenrod;
        border-radius: 2rem;
    }
    .project h3{
        font-size: 1rem;
    }

    .skill-set-div {
        width:100%;
        padding: 4em;
    }
    .skill {
        border: 1px solid darkgoldenrod;
        margin: 4em;

    }
    .skill  h5 {
        font-size : 8.3em;
    }

    .hover-text {
        width:100px;
        position: relative;
        border-bottom: 1px dotted black;
        visibility: visible;
        cursor: pointer;
    }
      
    .hover-text:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        background-color: goldenrod;
        font-weight: 600;
        color: var(--prm-drkcolor);
        text-align: center;
        border-radius: 0.66em;
        padding: 0.1em 0.2em;
        transition: opacity 1.2s ease-in-out;
        font-size: 0.58rem;
        position: absolute;
        z-index: 1;
        left: 0%;
        top: 100%;
      }
      
      .hover-text:hover:before {
        opacity: 1;
        visibility: visible;
      }
    

}
